.wrapAll{
  display: none;
  @media(max-width: 630px){
    display: flex;
  }
  .wrapper{
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    z-index:1;
    height: 100vh;
    background-color: rgba(198, 198, 198,.8);
    display: none;
    justify-content: center;
    align-items: center;
    .plate{
      height: 60%;
      width: 95%;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow: hidden;
      a{
        color:black;
      }
      div{
        flex-grow: 1;
        margin: 0px;
        display: flex;
        cursor:pointer;
        -webkit-user-select: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255,.9);
        font-size: 35px;
        text-transform: uppercase;
        transition: 0.2s all linear;
        font-weight: 500;
        &:hover{
          background-color: rgba(198, 198, 198,.6);
          color:whitesmoke;
        }
      }
      .icons_menu{
        gap:20%;
        z-index: 2;
        a{
          height: 50%;
        }
        img{
          height: 100%;
        }
      }
    }
  }
}
  
  
.button{
  position: absolute;
  z-index: 2;
  left: 87%;
  cursor: pointer;
  top: 15%;
  background-color:none;
  color:black;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  -webkit-user-select: none;
  @media(max-width: 630px){
      display: flex;
    }
}
/* .back_button{
  position: fixed;
  left: 95%;
  top: 5%;
  z-index: 2;
  border-radius: 10px;
  background-color: black;
  color:white;
  font-weight: 500;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  -webkit-user-select: none;
} */


.menu_mini_plate{
  position: absolute;
  width: 80%;
  height: 15%;
  background-color: black;
  border-radius: 5px;
  margin: 0px;
}
