$blue: #3498DB;


.Welcome {
    display: flex;
    width: 100%;
    height: 900px;
    background: url('../../assets/images/20.jpg') no-repeat 0% 100%/55%,
        url('../../assets/images/1.jpg') no-repeat 0% 0%/53%,
        url('../../assets/images/21.jpg') no-repeat 100% 0%/60%,
        url('../../assets/images/2.jpg') no-repeat 100% 100%/60%;

    .Header_href {
        position: absolute;
        top: -70px;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        background: rgba(28, 40, 51,0.2);
        backdrop-filter: blur(0.2px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 5px solid #5DADE2;

        .main {
            width: 70%;
            background: rgba(52, 152, 219,0.95);
            border-radius: 20px 0px 0px 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            padding: 30px;
            padding-right: 150px;
            transition: 0.2s all;

            &:hover {
                box-shadow: 0px 0px 5px #D5D8DC;
            }

            h2 {
                font-size: 17px;
                color: white;
            }

            h1 {
                font-size: 42px;
                font-weight: 700;
                color: white;
            }

            p {
                font-size: 18px;
                font-weight: 700;
                color: white;
                text-align: left;
            }

            .buttons_block {
                display: flex;
                gap: 30px;

                button {
                    width: 200px;
                    height: 60px;
                    color: white;
                    background: none;
                    font-size: 17px;
                    border: 2px solid #F1F51D;
                    border-radius: 30px;
                    font-weight: 500;
                    transition: 0.2s all;

                    &:hover {
                        background: #F1F51D;
                        color: $blue;
                    }
                }
            }
        }
    }
}
