$blue: #3498DB;

.About {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
    background: white;

    @media(max-width: 768px) {
        height: 800px;
    }

    .Header_href {
        position: absolute;
        top: -70px;
    }

    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 42px;
            background: $blue;
            width: 100%;
            color: white;
            font-weight: 700;
            padding: 10px;
            text-align: center;
            border-bottom: 2px solid #5DADE2;
        }

        .info_block {
            display: flex;
            flex-grow: 1;
            width: 100%;
            background: #AED6F1;

            .details_block {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 2px solid $blue;
                padding: 50px 30px;
                border-left: 2px solid $blue;

                @media(max-width: 1024px) {
                    width: 70%;
                    padding: 30px 15px;
                }

                h3 {
                    color: black;
                    line-height: 32px;
                    font-size: 25px;
                    text-align: center;
                    font-weight: 500;

                    @media(max-width: 1024px) {
                        font-size: 22px;
                    }

                    @media(max-width: 768px) {
                        font-size: 20px;
                        line-height: 25px;
                    }
                }

                .list {
                    p {
                        font-size: 20px;
                        margin-bottom: 10px;

                        @media(max-width: 768px) {
                            font-size: 18px;
                        }
                    }

                    ul {
                        margin-left: 20px;

                        li {
                            line-height: 30px;
                            list-style: circle;
                            font-size: 18px;
                            font-style: italic;

                            @media(max-width: 768px) {
                                font-size: 15px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                .text_block {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 30px;

                    p {
                        font-size: 20px;
                        line-height: 25px;

                        @media(max-width: 1024px) {
                            font-size: 18px;
                        }

                        @media(max-width: 768px) {
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }

                    .icon_block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: $blue;
                        border-radius: 50%;

                        .fontAwesome_faBox {
                            color: white;
                            width: 70px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 70px;
                            transform: scale(0.5);

                            @media(max-width: 768px) {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }

            .photo_block_1 {
                width: 20%;
                height: 100%;
                background: url('../../assets/images/9.jpg') right no-repeat;
                background-size: cover;

                @media(max-width: 1024px) {
                    width: 15%;
                }
            }

            .photo_block_2 {
                width: 20%;
                height: 100%;
                background: url('../../assets/images/9.jpg') center no-repeat;
                background-size: cover;

                @media(max-width: 1024px) {
                    width: 15%;
                }
            }
        }
    }
}
