$blue: #3498DB;


.Header {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255,.8);
    backdrop-filter: blur(5px);
    -webkit-user-select: none;

    @media(max-width: 1440px) {
        height: 80px;
    }

    @media(max-width: 1024px) {
        padding: 0px 30px;
        height: 80px;
    }

    @media(max-width: 1024px) {
        padding: 0px 15px;
    }

    @media(max-width: 425px) {
        padding: 0px 5px;
        height: 80px;
    }

    @media(max-height: 400px) {
        height: 40px;
    }

    .links {
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        span {
            position: relative;
            color: black;
            font-size: 20px;
            font-weight: 600;
            padding: 0px 20px;
            height: 100%;
            width: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @media(max-width: 1440px) {
                width: 120px;
                font-size: 18px;
            }

            @media(max-width: 1024px) {
                width: 150px;
            }

            @media(max-height: 400px) {
                width: 120px;
            }

            &:after {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 0px;
                bottom: 0px;
                left: 0px;
                background: $blue;
                transition: 0.1s all;
            }

            &:hover {
                color: $blue;

                &:after {
                    position: absolute;
                    height: 5px;
                }
            }
        }

        .resizing_header_link {
            @media(max-width: 1440px) {
                display: none;
            }
        }

        @media(max-width: 768px) {
            display: none;
        }
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        @media(max-width: 1440px) {
            max-width: 150px;
        }

        @media(max-width: 768px) {
            max-width: 350px;
        }

        @media(max-height: 400px) {
            max-width: 400px;
        }


        &:after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 0px;
            bottom: 0px;
            left: 0px;
            background: $blue;
            transition: 0.1s all;
        }

        &:hover {
            color: $blue;

            &:after {
                position: absolute;
                height: 5px;
            }
        }

        @media(max-width: 425px) {
        }

        @media(max-width: 325px) {
        }

        h1 {
            font-size: 25px;
            height: 100%;
            color: $blue;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 1440px) {
                padding: 0px 10px;
                font-size: 25px;
            }

            @media(max-width: 768px) {
                font-size: 25px;
            }

            @media(max-width: 425px) {
                font-size: 23px;
            }
        }
    }

    .icons {
        display: flex;
        justify-content: center;
        column-gap: 21px;
        align-items: center;
        height: 100%;

        @media(max-width: 1440px) {
            column-gap: 12px;
        }

        a {
            font-size: 18px;
            border: 2px solid $blue;
            color: black;
            border-radius: 25px;
            padding: 5px 10px;
            display: flex;
            background: none;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: 0.1s all linear;
            height: 60%;
            cursor: pointer;

            @media(max-width: 1440px) {
            }

            .fontAwesome_faPhone {
                color: $blue;
                transition: 0.2s all;
            }

            &:hover {
                color: white;
                background: $blue;

                .fontAwesome_faPhone {
                    color: white;
                }
            }

            @media(max-width: 1024px) {
                display: none;
            }
        }

        .resizing_header_button {

            @media(max-width: 1200px) {
                display: none;
            }
        }

        @media(max-width: 768px) {
            display: none;
        }
    }

    .wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        z-index: 1;
        height: 100vh;
        background-color: rgba(198, 198, 198,.8);
        display: none;
        justify-content: center;
        align-items: center;

        .plate {
            height: 60%;
            width: 95%;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            overflow: hidden;

            a {
                color: black;
            }

            div {
                flex-grow: 1;
                margin: 0px;
                display: flex;
                cursor: pointer;
                -webkit-user-select: none;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255,.9);
                font-size: 35px;
                text-transform: uppercase;
                transition: 0.2s all linear;
                font-weight: 500;

                &:hover {
                    background-color: rgba(198, 198, 198,.6);
                    color: whitesmoke;
                }
            }

            .icons_menu {
                gap: 20%;
                z-index: 2;

                a {
                    height: 50%;
                }

                img {
                    height: 100%;
                }
            }
        }
    }

    .button {
        position: absolute;
        z-index: 2;
        left: 87%;
        cursor: pointer;
        top: 15%;
        background-color: none;
        color: black;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        display: none;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        -webkit-user-select: none;

        @media(max-width: 768px) {
            display: flex;
        }
    }
    /* .back_button{
  position: fixed;
  left: 95%;
  top: 5%;
  z-index: 2;
  border-radius: 10px;
  background-color: black;
  color:white;
  font-weight: 500;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  -webkit-user-select: none;
} */


    .menu_mini_plate {
        position: absolute;
        width: 80%;
        height: 15%;
        background-color: black;
        border-radius: 5px;
        margin: 0px;
    }
}

.ScrollTo_links {
    width: 100%;
    height: 100%;
    cursor:pointer;
}