$blue: #5DADE2;


.Footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #17202A;
    border-top: 5px solid #AED6F1;
    padding-bottom: 30px;

    .Header_href {
        position: absolute;
        top: -70px;
    }

    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 150px;
        padding-top: 20px;

        @media(max-width: 1024px) {
            gap: 50px;
        }

        @media(max-width: 768px) {
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 20px 30px 0px 30px;
            gap: 30px;
        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @media(max-width: 1060px) {
                max-width: 250px;
            }

            @media(max-width: 768px) {
                max-width: 100%;
            }

            h1 {
                font-size: 42px;
                height: 100%;
                color: $blue;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;

                @media(max-width: 1024px) {
                    font-size: 32px;
                }

                @media(max-width: 768px) {
                    font-size: 32px;
                    width: 100%;
                }

                @media(max-width: 425px) {
                    width: 100%;
                    text-align:center;
                }
            }

            h3 {
                font-size: 25px;
                color: white;
                font-weight: 500;

                @media(max-width: 1024px) {
                    font-size: 22px;
                }

                @media(max-width: 768px) {
                    font-size: 25px;
                    width: 100%;
                    line-height: 50px;
                    text-align: center;
                }
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;

            @media(max-width: 1024px) {
                gap: 20px;
            }

            h2 {
                font-size: 25px;
                color: white;
                font-weight: 500;

                @media(max-width: 1024px) {
                    font-size: 22px;
                }
            }

            a {
                font-size: 18px;
                border: 2px solid $blue;
                color: white;
                border-radius: 25px;
                padding: 5px 10px;
                display: flex;
                background: none;
                justify-content: center;
                align-items: center;
                gap: 10px;
                transition: 0.1s all linear;
                height: 50px;
                cursor: pointer;

                @media(max-width: 1024px) {
                    font-size: 15px;
                    padding: 2px 5px;
                    height: 40px;
                }

                .fontAwesome_faPhone {
                    color: $blue;
                    transition: 0.2s all;
                }

                &:hover {
                    color: white;
                    background: $blue;

                    .fontAwesome_faPhone {
                        color: white;
                    }
                }
            }
        }

        .emails {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 45px;

            @media(max-width: 1024px) {
                gap: 35px;
            }

            h2 {
                font-size: 25px;
                color: white;
                font-weight: 500;

                @media(max-width: 1024px) {
                    font-size: 22px;
                }
            }

            a {
                font-size: 20px;
                color: white;
                cursor: pointer;



                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
